<%- model_class = Entry -%>
<div class="page-header">
  <h1>投稿一覧</h1>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:tag) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.id, entry_path(entry) %></td>
        <td><%= entry.title %></td>
        <td>
          <a role="button" data-toggle="collapse" href="#collapseBody<%=entry.id.to_s%>" aria-expanded="false" aria-controls="collapseBody<%=entry.id.to_s%>">
            <%= entry.body[0..10] %><% if entry.body.length > 15 %>...<% end %>
          </a>
        </td>
        <td><%= entry.tag %></td>
        <td><%= entry.updated_at.strftime('%Y年%m月%d日 %H:%M:%S') %></td>
        <td>
          <%= link_to t('.show', :default => "詳細"),
            entry_path(entry), :class => 'btn btn-default' %>
          <%= link_to t('.edit', :default => "編集"),
            edit_entry_path(entry), :class => 'btn btn-info' %>
          <%= link_to t('.destroy', :default => "削除"),
            entry_path(entry),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
        </td>
      </tr>
      <tr style="height:0px">
        <td colspan="6">
          <div class="collapse" id="collapseBody<%=entry.id.to_s%>">
            <div class="well"><%= simple_format(entry.body) %></div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_entry_path,
            :class => 'btn btn-primary' %>
